In [14]:
import pandas as pd

# Load the dataset
ratings = pd.read_csv('rating.csv')
movies = pd.read_csv('movie.csv')

# Display the first few rows
print(ratings.head())
print(movies.head())

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

C:\Users\Compu City\AppData\Local\Temp\ipykernel_19592\3958351109.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movie.csv')

In [2]:
print(ratings.dtypes)

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [3]:
ratings = ratings.dropna(subset=['userId', 'movieId', 'rating'])

In [4]:
ratings = ratings.drop_duplicates(subset=['userId', 'movieId'])
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [5]:
ratings_df=ratings.drop('timestamp',axis=1)
ratings_df.head()

   userId  movieId  rating
0       1      110     1.0
1       1      147     4.5
2       1      858     5.0
3       1     1221     5.0
4       1     1246     5.0

In [6]:
ratings_df = ratings_df[ratings_df['userId'].isin(ratings_df['userId'].unique()[:1000])]  # Limit to 1000 us

In [7]:
movies_df = pd.concat([ratings_df,movies],axis=1,join='inner')
movies_df.head()

,userId,movieId,rating,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,1,110,1.0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,147,4.5,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,1,858,5.0,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,1,1221,5.0,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,1,1246,5.0,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [9]:
# Create user-item matrix
user_item_matrix = ratings_df.pivot(index='userId', columns='movieId', values='rating').fillna(0)
print(user_item_matrix.head())

movieId  1       2       3       4       5       6       7       8       \
userId
1           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0     3.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
5           0.0     0.0     0.0     0.0     0.0     0.0     3.0     0.0

movieId  9       10      ...  173209  173291  173353  174055  174231  174393  \
userId                   ...
1           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
2           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
3           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
4           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0
5           0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0     0.0

movieId  174585  174843  175579  176271
userId
1           0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0
5           0.0     0.0     0.0     0.0

[5 rows x 8828 columns]

In [11]:
from sklearn.model_selection import train_test_split

# Convert the matrix to a sparse matrix format
from scipy.sparse import csr_matrix
user_item_matrix_sparse = csr_matrix(user_item_matrix.values)

# Split the data
train_data, test_data = train_test_split(user_item_matrix_sparse, test_size=0.2, random_state=42)

In [12]:
from sklearn.decomposition import TruncatedSVD

# Apply SVD
svd = TruncatedSVD(n_components=50, random_state=42)
matrix_svd = svd.fit_transform(train_data)

print(matrix_svd.shape)

(800, 50)

In [13]:
from sklearn.metrics import mean_squared_error
import numpy as np

# Predict ratings for the test set
test_data_pred = svd.inverse_transform(matrix_svd)

In [60]:
'''
from surprise import Dataset, Reader, SVD
from surprise.model_selection import cross_validate

# Load the dataset
data = Dataset.load_builtin('ml-100k')

# Use the SVD algorithm
algo = SVD()

# Evaluate the algorithm
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
'''

ModuleNotFoundError: No module named 'surprise'

In [62]:
print(f'Shape of actual data: {test_data.toarray().shape}')
print(f'Shape of predicted data: {test_data_pred.shape}')

Shape of actual data: (200, 9746)
Shape of predicted data: (800, 9746)

In [63]:
# Replace NaN and Inf values with 0 or some other placeholder
import numpy as np
test_data_clean = np.nan_to_num(test_data.toarray(), nan=0.0, posinf=0.0, neginf=0.0)
test_data_pred_clean = np.nan_to_num(test_data_pred, nan=0.0, posinf=0.0, neginf=0.0)

In [64]:
test_data_pred = test_data_pred.astype(test_data.toarray().dtype)

In [66]:
# Trim predicted data to match the test data dimensions
test_data_pred_trimmed = test_data_pred[:test_data.toarray().shape[0], :test_data.toarray().shape[1]]
# Ensure predicted values align with the test data
aligned_predictions = test_data_pred[:test_data.shape[0], :]

In [68]:
test_data_pred = svd.inverse_transform(matrix_svd)[:200]

In [69]:
# Print detailed shapes
print(f"Test data shape: {test_data.toarray().shape}")
print(f"Predicted data shape: {test_data_pred.shape}")

Test data shape: (200, 9746)
Predicted data shape: (200, 9746)

In [70]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(test_data.toarray(), test_data_pred))
print(f'RMSE: {rmse}')

RMSE: 0.524307734260459

In [75]:
def recommend_movies_by_name(movie_name, user_id, user_item_matrix, svd, movies, n_recommendations=10):
    # Find the movie ID for the given movie name
    if movie_name not in movies['title'].values:
        return f"Movie '{movie_name}' not found in the dataset."
    
    movie_id = movies[movies['title'] == movie_name]['movieId'].values[0]
    
    # Get the user's ratings from the user-item matrix
    user_ratings = user_item_matrix.loc[user_id].values.reshape(1, -1)
    
    # Predict the user's ratings using SVD
    user_ratings_svd = svd.transform(user_ratings)
    user_ratings_pred = svd.inverse_transform(user_ratings_svd)
    
    # Get all movies the user hasn't rated yet
    unrated_movie_indices = np.where(user_ratings == 0)[1]
    
    # Get the predicted ratings for the unrated movies
    predicted_ratings = user_ratings_pred[0][unrated_movie_indices]
    
    # Get the indices of the top n recommendations from the unrated movies
    top_movie_indices = unrated_movie_indices[predicted_ratings.argsort()[::-1][:n_recommendations]]
    
    # Get the movie titles for the top recommendations
    recommended_movies = movies[movies['movieId'].isin(top_movie_indices)]
    
    return recommended_movies

# Example usage: Recommend movies for user with ID 1 based on a specific movie
movie_name = "batman"
recommendations = recommend_movies_by_name(movie_name, 1, user_item_matrix, svd, movies)
print(recommendations)

Movie 'batman' not found in the dataset.